* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body {
    height: 100vh;
}

.navbar.bg-body-tertiary {
    background-color: black;
}

.content{
    background-image: url(b_image.jpeg);
    height:calc(100vh - 56px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

form{
    background-color: rgba(0, 0, 0, 0.5); /* Red background with 50% transparency */
    width: 40%;
    height: 70%;
    position: absolute;
    top: 20%;
    left: 30%;
    display: block;
    color: white;
}

.form-content{
    padding: 2rem 2rem 2rem 2rem;
    width: 100%;
    height: 100%;
}

.input-box{
    display: flex;
    height: 10%;
    margin-top: 1.5rem;
}

#radio{
    display: block;
}

.input-box h3{
    min-width: 7rem;
    font-size: 1rem;
}

.input-box p{
    font-size: 0.8rem;
}

.input-box .input-field{
    flex-grow: 1;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
}

.input-field select{
    width: 100%;
}

input,
select{
    height: 60%;
    width: 100%;
}

.input-field .input-element{
    width: 40%;
}

#radio-field{
    width: 40%;
}

#radio1,
#radio2{
    width: 30%;
}

#radio1 input,
#radio2 input{
    width: 40%;
}

.submit-button{
    height: 3rem;
    width: 10rem;
    background-color: aqua;
    border-radius: 0.8rem;
    color: white;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
    .input-box{
        display: block;
        text-align: center;
    }
    .input-box h3{
        font-size: 22px;
    }
    .input-box .input-field{
        height: 80%;
    }
    #radio-field{
        width: 100%;
        height: 40%;
    }
    #submit-field{
        justify-content: center;
    }
}